.about-page {
	padding-top: calc(64px * 2);
	padding-bottom: 64px;
	width: 60vw;
	margin: auto;
	overflow-x: hidden;
}

.special-lists {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.reason-list {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.contact-btn {
	font-size: 24px;
	color: rgb(202, 202, 202);
	background: #333;
	padding: 2rem;
	margin: auto;
	left: 0;
	right: 0;
	position: relative;
	cursor: pointer;
	border: 0;
	transition: all 0.3s linear;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}
.about-image {
	position: fixed;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	filter: opacity(0.15);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('../images/undraw_conversation_re_c26v.svg');
	z-index: -1;
}

@media only screen and (max-width: 1024px) {
	.about-page {
		font-size: 14px;
		width: 100vw;
		padding: 64px 1rem 1rem 1rem;
	}

	.reason-list {
		display: block;
		margin: 0;
		padding: 0;
		margin-left: 1rem;
	}
	.reason-list:nth-child(1) {
		margin-top: 1rem;
	}

	.special-lists {
		flex-direction: column;
	}
	.special-lists > div > h3 {
		font-size: 1.25rem !important;
	}
	.special-lists > div > ul {
		padding: 0;
		margin: 0;
		margin-left: 1rem;
	}
	.contact-btn {
		padding: 1rem;
		margin: 0;
		font-size: 16px;
	}
}
