@media only screen and (max-width: 1024px) {
	.navbar > .nav_links {
		display: none;
	}
	.mobile_menu {
		display: flex;
		width: 64px;
		height: 64px;
		margin: auto;
		margin-right: 15px;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}
	.mobile_menu:hover {
		cursor: pointer;
		transition: all 0.3s;
		background: rgba(0, 0, 0, 0.1);
	}
	.menu-bars {
		width: 35px;
		height: 3px;
		background: #222;
	}
	.mobile-links {
		transition: all 0.3s;
		position: absolute;
		display: flex;
		flex-direction: column;
		top: 64px;
		right: 0;
		text-align: center;
		background: #eee;
		width: 100px;
		height: 0;
		border-bottom-left-radius: 10px;
		overflow: hidden;
	}
	.showMenu {
		transition: all 0.3s;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
		height: 300px;
	}
	.mobile-links > a {
		display: inline-flex;
		text-decoration: none;
		color: #222;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		align-items: center;
		align-content: center;
		justify-content: center;
		justify-items: center;
		background: transparent;
	}

	.mobile-links > a:hover {
		background: rgba(0, 0, 0, 0.1);
		transition: 0.3s linear all;
	}
	.mobile_link {
		text-align: center;
	}
	footer {
		height: 64px;
		font-size: 12px;
	}

	.contact-section {
		font-size: 18px;
		padding: 1rem;
	}

	.landing-area > .landing-text {
		width: calc(100vw - 2rem);
		background: #eee;
		margin-right: 0;
		margin-left: auto;
		max-height: 400px;
		padding-top: 100px;
		padding-left: 1rem;
		padding-right: 1rem;
		text-align: center;
	}
	.landing-area > .landing-text > p {
		margin: 0;
	}
	.scroll-arrow {
		background: #eee;
	}

	.about-section {
		height: 150vh;
		background-position: center center;
	}
	.about-section_text {
		width: 100vw;
		height: 100vh;
		max-height: 600px;
	}
	.about-section_text > div {
		width: calc(100vw - 2rem);
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.about-section_text > button {
		margin: auto;
	}
}

@media only screen and (max-width: 600px) {
	.app-logo {
		width: 24px;
		margin: 0;
	}
	.navbar-brand > h1 {
		font-size: 14px;
	}
}
